
<!--if page.tags contains 'Docker Compose' -->
<!--<div>-->
<!--  <img src="{{ site.baseurl }}/assets/images/banner/docker.svg" alt="Docker">-->
<!--  <cite>https://www.docker.com/company/newsroom/media-resources/</cite>-->
<!--</div>-->
<!--<br>-->
<!-- elsif page.tags contains 'Docker'-->
<!--<div>-->
<!--  <img src="{{ site.baseurl }}/assets/images/banner/docker.svg" alt="Docker">-->
<!--  <cite>https://www.docker.com/company/newsroom/media-resources/</cite>-->
<!--</div>-->
<!--<br>-->

{% if page.categories contains 'Docker' %}
<div>
  <img src="{{ site.baseurl }}/assets/images/banner/docker.svg" alt="Docker">
  <cite>https://www.docker.com/company/newsroom/media-resources/</cite>
</div>
<br>
{% endif %}